.seat {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.seat.available {
  background-color: #4caf50;
  color: white;
}

.seat.booked {
  background-color: #d9534f;
  color: white;
  cursor: not-allowed;
}

.seat.selected {
  background-color: #0275d8;
  color: white;
}
