.navbar {
    
  }
  
  
  
  .nav-buttons button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  .nav-buttons button:hover {
    background-color: #cfdaeb;
  }
  